<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.consultafacil.activity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_cadastrar"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MeusAgendamentosActivity"
            android:label="@string/title_meus_agendamentos" />
        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_perfil"
            android:parentActivityName=".MeusAgendamentosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MeusAgendamentosActivity" />
        </activity>
        <activity
            android:name=".AlterarSenhaActivity"
            android:label="@string/title_alterar_senha"
            android:parentActivityName=".PerfilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerfilActivity" />
        </activity>
        <activity
            android:name=".ConvenioActivity"
            android:label="@string/title_choice_convenio"
            android:parentActivityName=".MeusAgendamentosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MeusAgendamentosActivity" />
        </activity>
        <activity
            android:name=".EspecialidadesActivity"
            android:label="@string/title_choice_especialidade"
            android:parentActivityName=".ConvenioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConvenioActivity" />
        </activity>
        <activity
            android:name=".PrestadorActivity"
            android:label="@string/title_choice_prestador"
            android:parentActivityName=".EspecialidadesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EspecialidadesActivity" />
        </activity>
        <activity
            android:name=".HorariosDisponiveisActivity"
            android:label="@string/title_choice_horario"
            android:parentActivityName=".PrestadorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrestadorActivity" />
        </activity>
        <activity
            android:name=".ConfirmarAgendamentoActivity"
            android:label="@string/title_confirmar_dados"
            android:parentActivityName=".HorariosDisponiveisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HorariosDisponiveisActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>